# OLM config example
# copy to ~/.config/olm/config.env

# ollama
# OLM_OLLAMA_HOST="http://127.0.0.1:11434"
# OLM_START_SERVE="0"

# models
OLM_MODEL_STD="gpt-oss:20b-cloud"
OLM_MODEL_LGT="phi3:3.8b-mini-4k-instruct-q4_k_m"
OLM_MODEL_HVY="llama3:8b"
OLM_MODEL_FA="qwen2.5:0.5b"
OLM_MODEL_FB="mistral-nemo:latest"

# language
OLM_LANG="jp"

# always prompt
# OLM_ALWAYS_PROMPT="必ず最初にifの確認コマンドを出す"
